---
layout: page
title: "Project"
description: "Past and current projects"
header-img: "img/home-bg.jpg"
---

<!-- {% for project in site.projects %}
<div class="post-preview">
    <a href="{{ project.url | prepend: site.baseurl }}">
        <h3 class="post-subtitle">{{ project.title }}</h3>
    </a>
    {% if project.description %}
    <p class="post-meta">{{ project.description }}</p>
    {% endif %}
</div>
<hr>
{% endfor %} -->

{% for project in site.projects %}
<div class="post-preview">
    <a href="{{ project.url | prepend: site.baseurl }}">
        <h3 class="post-subtitle">{{ project.title }}</h3>
    </a>
    {% if project.description %}
    <p class="post-meta">{{ project.description }}</p>
    {% endif %}
    {{project.content}}
</div>
<hr>
{% endfor %}